.conteiner{
    display: flex;
    justify-content: end;
    width: 100vw;
    height: 100vh;
}

.login{
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: center;
    max-width: 26rem;
    height: 100vh;
    padding: 4rem ;
    background-color: white;
    box-shadow: -6px 0 100px #babecc;
}

label{
    font-size: 1.6rem;
    font-weight: bold;
}

.loginInputs{
    display: flex;
    flex-direction: column;
    place-items: center;
    margin: 2rem 0;
}